<html>
    <head>
      <link rel="stylesheet" href="/static/css/main.css">
      <title>{{ title }} - Rock Paper Scissors</title>
    </head>
    <body>
        <nav>
            <ul>
                <li class="navLink"><a href="/">Home</a></li>
                <li class="navLink"><a href="/play-yrs">Play</a></li>
                <li class="navLink"><a href="/play-cpu">Play Computer</a></li>
            </ul>
        </nav>
        <hr>
        <h1>Rock Paper Scissors</h1>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
